.tour {
  position: relative;
  max-width: 380px;
  height: 500px;
  z-index: 50;
  overflow: hidden;
  border-radius: 32px;
  background-color: var(--bg-gray);
  transform: outline .3s ease;

  &__img {
    width: 380px;
    height: 500px;
    object-fit: cover;

    @include mobile {
      width: 285px;
      height: 400px;
    }
  }

  &__rating {
    position: absolute;
    top: 49px;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 49px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: var(--dark-green);
    background-color: var(--light-gray-4);

    svg {
      width: 24px;
      height: 24px;
      fill: var(--yellow);
      object-fit: cover;
    }

    @include mobile {
      top: 37px;
    }
  }

  &__content-bottom {
    @include flex-all-sb;

    position: absolute;
    bottom: 0;
    width: 316px;
    padding: 20px 32px 23px 32px;
    border-radius: 0px 0px 32px 32px;
    background-color: var(--light-gray-2);

    @include mobile {
      bottom: 0;
      left: 0;
      width: 238px;
      padding: 21px 24px 20px;
    }
  }


  &__content {
    @include flex-column;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 30px 32px 20px;
    border-radius: 32px;
    opacity: 0;
    transition: opacity .3s ease;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 32px;
      background-image: url('../../img/tour-1.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: blur(3px);
      opacity: 0;
      transition: opacity .3s ease;
    }

    &:hover::before {
      opacity: 1;
    }

    @include mobile {
      display: none;
    }
  }

  &__content--bg {
    &::before {
      background-image: url('../../img/tour-2.jpg');
    }
  }

  &__content--yga {
    &::before {
      background-image: url('../../img/tour-3.jpg');
    }
  }

  &__content-top {
    @include flex-all-sb;

    z-index: 1;
    margin-bottom: 38px;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: var(--white);

    @include mobile {
      font-size: 18px;
    }
  }

  &__caption {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--white);

    @include mobile {
      display: none;
    }
  }

  &__price {
    padding: 12px 17px 6px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--white);
    background-color: var(--light-gray-3);

    @include mobile {
      padding: 6px 12px;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__text {
    z-index: 1;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--white);
  }

  &__link {
    z-index: 1;
  }

  &:focus {
    outline: 1px solid var(--yellow);
    outline-offset: 3px;
  }

  @include mobile {
    // width: 285px;
    height: 400px;
  }
}