<section class="about-trip">
  <div class="container about-trip__container">

    <div class="about-trip__video">
      <div class="video-block video-block--bottom">
        <button class="btn-reset video-block__play" aria-label="Play video">
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
        <video class="video-block__content" src="about-video-1.mp4" muted loop preload="metadata"></video>
      </div>

      <div class="video-block video-block--top">
        <button class="btn-reset video-block__play" aria-label="Play video">
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
        <video class="video-block__content" src="about-video-2.mp4" muted loop preload="metadata"></video>
      </div>

    </div>
    <div class="about-trip__content">
      <h2 class="yellow-title">о нашем походе</h2>
      <h3 class="title">
        Исследуйте все горные массивы мира вместе с нами
      </h3>
      <p class="descr about-trip__text">
        Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками в&nbsp;классической латинской литературе.
      </p>
      <a class="btn about-trip__btn" href="#">Программа тура</a>
    </div>
  </div>
</section>