<header class="header">
  <div class="container header__container">
    <a class="logo header__logo" href="#">
      <img src="img/logo.svg" alt="Логотип РумТибет">
    </a>
    <div class="header__nav">
      <nav class="nav header__nav-list">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a class="nav__link" href="#">Главная</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Про гида</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Программа тура</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Стоимость</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Блог</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Контакты</a></li>
        </ul>
      </nav>
      <button class="btn btn--header btn-reset">Консультация</button>
    </div>

  </div>
</header>