<section class="offer">
  <div class="container offer__container">
    <div class="offer__content">
      <span class="subtitle offer__subtitle">наше предложение</span>
      <h2 class="title offer__title">Лучшие программы для тебя</h2>
      <p class="descr offer__text">
        Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н. э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из&nbsp;колледжа.
      </p>
      <ul class="list-reset list-services offer__list">
        <li class="list-services__item list-services__item--guide">
          <h3 class="list-services__title">Опытный гид</h4>
          <p class="list-services__text">
            Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
          </p>
        </li>
        <li class="list-services__item list-services__item--prices">
          <h3 class="list-services__title">Безопасный поход</h4>
          <p class="list-services__text">
            Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
          </p>
        </li>
        <li class="list-services__item list-services__item--safe">
          <h3 class="list-services__title">Лояльные цены</h4>
          <p class="list-services__text">
            Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
          </p>
        </li>
      </ul>
      <a class="btn offer__link" href="#" aria-label="Стоимость программ">Стоимость программ</a>
    </div>
    <div class="offer__gallery">
      <ul class="list-reset gallery-list">
        <li class="gallery-list__item gallery-list__item--tea"></li>
        <li class="gallery-list__item gallery-list__item--gid"></li>
        <li class="gallery-list__item gallery-list__item--snow"></li>
        <li class="gallery-list__item gallery-list__item--valley"></li>
      </ul>
    </div>
  </div>
</section>