<section class="popular">
  <div class="container popular__container">
    <div class="popular__wrapper">
      <span class="subtitle">по версии отдыхающих</span>
      <h2 class="title popular__title">Популярные направления</h2>
    </div>

    <div class="swiper popular__tour">
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-hash="tour-1">
          <div class="tour">
            <a class="tour__link-img" href="#">
              <picture>
                <source srcset="img/tour-1.webp" type="image/webp">
                <img class="tour__img" loading="lazy" src="img/tour-1.jpg" width="380" height="500" alt="Озеро возле гор">
              </picture>
              <span class="tour__rating">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4.9
              </span>
            </a>
            <div class="tour__content-bottom">
              <div class="tour__content-title">
                <h4 class="tour__title">Озеро возле гор</h4>
                <span class="tour__caption">романтическое приключение</span>
              </div>
              <span class="tour__price">480 &#x24;</span>
            </div>
            <div class="tour__content">
              <div class="tour__content-top">
                <div class="tour__content-title">
                  <h4 class="tour__title">Озеро возле гор</h4>
                  <span class="tour__caption">романтическое приключение</span>
                </div>
                <span class="tour__price">480 &#x24;</span>
              </div>
              <p class="tour__text">
                Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни&nbsp;из&nbsp; колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками&nbsp;в&nbsp; классической латинской литературе.
              </p>
              <a class="tour__link btn btn--tour" href="#">Программа тура</a>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-hash="tour-2">
          <div class="tour">
            <a class="tour__link-img" href="#">
              <picture>
                <source srcset="img/tour-2.webp" type="image/webp">
                <img class="tour__img" loading="lazy" src="img/tour-2.jpg" width="380" height="500" alt="Озеро возле гор">
              </picture>
              <span class="tour__rating">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4.5
              </span>
            </a>
            <div class="tour__content-bottom">
              <div class="tour__content-title">
                <h4 class="tour__title">Ночь в горах</h4>
                <span class="tour__caption">в компании друзей</span>
              </div>
              <span class="tour__price">500 &#x24;</span>
            </div>
            <div class="tour__content tour__content--bg">
              <div class="tour__content-top">
                <div class="tour__content-title">
                  <h4 class="tour__title">Ночь в горах</h4>
                  <span class="tour__caption">в компании друзей</span>
                </div>
                <span class="tour__price">500 &#x24;</span>
              </div>
              <p class="tour__text">
                Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни&nbsp;из&nbsp; колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками&nbsp;в&nbsp; классической латинской литературе.
              </p>
              <a class="tour__link btn btn--tour" href="#">Программа тура</a>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-hash="tour-3">
          <div class="tour">
            <a class="tour__link-img" href="#">
              <picture>
                <source srcset="img/tour-3.webp" type="image/webp">
                <img class="tour__img" loading="lazy" src="img/tour-3.jpg" width="380" height="500" alt="Озеро возле гор">
              </picture>
              <span class="tour__rating">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                5.0
              </span>
            </a>
            <div class="tour__content-bottom">
              <div class="tour__content-title">
                <h4 class="tour__title">Йога в горах</h4>
                <span class="tour__caption">для тех, кто забоится о себе</span>
              </div>
              <span class="tour__price">230 &#x24;</span>
            </div>
            <div class="tour__content tour__content--yga">
              <div class="tour__content-top">
                <div class="tour__content-title">
                  <h4 class="tour__title">Йога в горах</h4>
                  <span class="tour__caption">для тех, кто забоится о себе</span>
                </div>
                <span class="tour__price">230 &#x24;</span>
              </div>
              <p class="tour__text">
                Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни&nbsp;из&nbsp; колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками&nbsp;в&nbsp; классической латинской литературе.
              </p>
              <a class="tour__link btn btn--tour" href="#">Программа тура</a>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-hash="tour-4">
          <div class="tour">
            <a class="tour__link-img" href="#">
              <picture>
                <source srcset="img/tour-1.webp" type="image/webp">
                <img class="tour__img" loading="lazy" src="img/tour-1.jpg" width="380" height="500" alt="Озеро возле гор">
              </picture>
              <span class="tour__rating">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4.9
              </span>
            </a>
            <div class="tour__content-bottom">
              <div class="tour__content-title">
                <h4 class="tour__title">Озеро возле гор</h4>
                <span class="tour__caption">романтическое приключение</span>
              </div>
              <span class="tour__price">480 &#x24;</span>
            </div>
            <div class="tour__content">
              <div class="tour__content-top">
                <div class="tour__content-title">
                  <h4 class="tour__title">Озеро возле гор</h4>
                  <span class="tour__caption">романтическое приключение</span>
                </div>
                <span class="tour__price">480 &#x24;</span>
              </div>
              <p class="tour__text">
                Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни&nbsp;из&nbsp; колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками&nbsp;в&nbsp; классической латинской литературе.
              </p>
              <a class="tour__link btn btn--tour" href="#">Программа тура</a>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-hash="tour-5">
          <div class="tour">
            <a class="tour__link-img" href="#">
              <picture>
                <source srcset="img/tour-2.webp" type="image/webp">
                <img class="tour__img" loading="lazy" src="img/tour-2.jpg" width="380" height="500" alt="Озеро возле гор">
              </picture>
              <span class="tour__rating">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                4.5
              </span>
            </a>
            <div class="tour__content-bottom">
              <div class="tour__content-title">
                <h4 class="tour__title">Ночь в горах</h4>
                <span class="tour__caption">в компании друзей</span>
              </div>
              <span class="tour__price">500 &#x24;</span>
            </div>
            <div class="tour__content tour__content--bg">
              <div class="tour__content-top">
                <div class="tour__content-title">
                  <h4 class="tour__title">Ночь в горах</h4>
                  <span class="tour__caption">в компании друзей</span>
                </div>
                <span class="tour__price">500 &#x24;</span>
              </div>
              <p class="tour__text">
                Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни&nbsp;из&nbsp; колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками&nbsp;в&nbsp; классической латинской литературе.
              </p>
              <a class="tour__link btn btn--tour" href="#">Программа тура</a>
            </div>
          </div>
        </div>

        <div class="swiper-slide" data-hash="tour-6">
          <div class="tour">
            <a class="tour__link-img" href="#">
              <picture>
                <source srcset="img/tour-3.webp" type="image/webp">
                <img class="tour__img" loading="lazy" src="img/tour-3.jpg" width="380" height="500" alt="Озеро возле гор">
              </picture>
              <span class="tour__rating">
                <svg>
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                5.0
              </span>
            </a>
            <div class="tour__content-bottom">
              <div class="tour__content-title">
                <h4 class="tour__title">Йога в горах</h4>
                <span class="tour__caption">для тех, кто забоится о себе</span>
              </div>
              <span class="tour__price">230 &#x24;</span>
            </div>
            <div class="tour__content tour__content--yga">
              <div class="tour__content-top">
                <div class="tour__content-title">
                  <h4 class="tour__title">Йога в горах</h4>
                  <span class="tour__caption">для тех, кто забоится о себе</span>
                </div>
                <span class="tour__price">230 &#x24;</span>
              </div>
              <p class="tour__text">
                Его корни уходят в&nbsp;один фрагмент классической латыни 45&nbsp;года н.э., то&nbsp;есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни&nbsp;из&nbsp; колледжа Hampden-Sydney, штат Вирджиния, взял одно из&nbsp;самых странных слов в&nbsp;Lorem Ipsum, &quot;consectetur&quot;и занялся его поисками&nbsp;в&nbsp; классической латинской литературе.
              </p>
              <a class="tour__link btn btn--tour" href="#">Программа тура</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="popular__link-wrap">
      <a class="btn btn--popular popular__link" href="#">Рейтинг направлений</a>
    </div>
  </div>
</section>