<section class="travel">
  <div class="container travel__container">
    <span class="subtitle">делимся впечатлениями</span>
    <h2 class="title travel__title">Блог о путешествиях</h2>

    <div class="swiper travel__slider slider-1">
      <ul class="list-reset blog travel__list swiper-wrapper">
        <li class="blog__item swiper-slide">
          <article class="blog__card">
            <div class="blog__img-wrap blog__img-wrap--italy"></div>
            <div class="blog__content">
              <h3 class="blog__title">Красивая Италя, какая она в&nbsp;реальности?</h3>
              <p class="blog__text">
                Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.
              </p>
              <div class="blog__info">
                <time class="blog__date" datetime="2023-04-01">01/04/2023</time>
                <a class="blog__link" href="#">читать статью</a>
              </div>
            </div>
          </article>
        </li>
        <li class="blog__item swiper-slide">
          <article class="blog__card">
            <div class="blog__img-wrap blog__img-wrap--doubts"></div>
            <div class="blog__content">
              <h3 class="blog__title">Долой сомнения! Весь мир открыт для вас!</h3>
              <p class="blog__text">
                Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих условий активизации ...Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих условий активизации ...
              </p>
              <div class="blog__info">
                <time class="blog__date" datetime="2023-04-01">01/04/2023</time>
                <a class="blog__link" href="#">читать статью</a>
              </div>
            </div>
          </article>
        </li>
        <li class="blog__item swiper-slide">
          <article class="blog__card">
            <div class="blog__img-wrap blog__img-wrap--journey"></div>
            <div class="blog__content">
              <h3 class="blog__title">Как подготовиться&nbsp;к&nbsp; путешествию&nbsp;в&nbsp; одиночку?</h3>
              <p class="blog__text">
                Для современного мира базовый вектор развития предполагает.
              </p>
              <div class="blog__info">
                <time class="blog__date" datetime="2023-04-01">01/04/2023</time>
                <a class="blog__link" href="#">читать статью</a>
              </div>
            </div>
          </article>
        </li>
        <li class="blog__item swiper-slide">
          <article class="blog__card">
            <div class="blog__img-wrap blog__img-wrap--india"></div>
            <div class="blog__content">
              <h3 class="blog__title">Индия... летим?</h3>
              <p class="blog__text">
                Для современного мира базовый.
              </p>
              <div class="blog__info">
                <time class="blog__date" datetime="2023-04-01">01/04/2023</time>
                <a class="blog__link" href="#">читать статью</a>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <a class="btn travel__link" href="#">Другие материалы</a>
  </div>
</section>