:root {
  --font-family: "NunitoSans";
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --light-color-border: #e1e3e4;
  --light-color: #fff;
  --white: #fdfdfd;
  --bg-gray: #c2c9d6;
  --dark-green: #1a3e3e;
  --yellow: #f2be22;
  --dark-purple: #18121e;
  --black: #000;

}
