:root {
  --font-family: "NunitoSans";
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --light-color-border: #e1e3e4;
  --light-color: #fff;
  --white: #fdfdfd;
  --silver-gray: #f3f5f4;
  --light-gray-4: rgba(253, 253, 253, 0.40);
  --light-gray-3: rgba(253, 253, 253, 0.30);
  --light-gray-2: rgba(255, 255, 255, 0.20);
  --bg-gray: #c2c9d6;
  --dark-green: #1a3e3e;
  --yellow: #f2be22;
  --dark-purple: #18121e;
  --black: #000;


  --grid-gap: 20px;

}